<div class="row">
  <div class="col-xs-12">
    <button class="mt-2 btn btn-success">New Asset</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <a  *ngFor="let recipe of recipes" href="#" class="mt-1 d-flex list-group-item list-group-item-action justify-content-between align-items-start" aria-current="true">
        <div class="w-100 ms-2 me-auto  justify-content-between">
          <h5 class="mb-1 fw-bold">{{ recipe.name }}</h5>
          {{ recipe.description }}
        </div>
          <img 
            [src]="recipe.imagePath"
            alt="{{ recipe.name }}" 
            class="img-responsive" 
            style="max-height: 100px;">
      </a>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>




